@import url(global.css);

.form-frame{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid lightgray;
    border-radius: 20px;
}

.cause, .complement{
    background-color: rgba(0, 0, 0, 0.10);
    padding: 10px;
    display: flex;
    flex-direction: column;
}